:root {
  --color__green: #00ff33;
  --color__purple: #9d00ff;
  --color__black: #1e1c1f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 52px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  background-color: var(--color__purple);
  line-height: 1.3;
}

header {
  background: linear-gradient(
    to bottom right,
    var(--color__purple) 0%,
    var(--color__purple) 33%,
    var(--color__black) 33%,
    var(--color__black)
  );
  padding: 10vh 0;
}

main {
  background: linear-gradient(
    to top left,
    var(--color__purple) 0%,
    var(--color__purple) 22%,
    var(--color__black) 22%,
    var(--color__black)
  );
}

footer {
  background: linear-gradient(
    to bottom left,
    var(--color__purple) 0%,
    var(--color__purple) 67%,
    var(--color__black) 67%,
    var(--color__black)
  );
  padding: 6vh 0;
}

h1 {
  color: white;
}

a,
a:visited {
  color: var(--color__green);
}

a:active,
a:hover,
a:focus {
  color: black;
  text-decoration: none;
  background-color: var(--color__green);
}

a:focus {
  outline: none;
}

::selection {
  color: black;
  background-color: var(--color__green);
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}
