:root {
  --color__green: #00ff33;
  --color__purple: #9d00ff;
  --color__grey: #d9cfd9;
  --color__black: #1e1c1f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 36px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: var(--color__black);
  line-height: 1.3;
}

h1 {
  color: white;
}

a,
a:visited {
  color: var(--color__green);
  padding: 0 0.3vw;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: black;
  background-color: var(--color__green);
}

a:focus {
  outline: none;
}

::selection {
  color: black;
  background-color: var(--color__green);
}

header {
  text-transform: uppercase;
  background-color: var(--color__black);
  padding: 1vh 1vw;
}

header a,
header a:visited {
  color: white;
}

header a:active,
header a:hover,
header a:focus {
  color: var(--color__black);
  background-color: var(--color__green);
}

main {
  padding: 12vh 0;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}

footer {
  background-color: var(--color__black);
  color: var(--color__grey);
  padding: 4vh 0 8vh;
  font-size: 18px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  flex: 1 1 auto;
}

.credit {
  flex: 0 0 auto;
}
